
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Coda');

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin:0; padding:0;
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

::selection {
    color: #fff;
    background: #000;
}

body {
  background-color: #000;
  margin:0; top:0; left:0;

}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 85vw;
}

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

h1 {
  margin:40px auto;
  text-align: center;
  font-size: 4em;
  font-family: 'Coda', serif;
  vertical-align: middle;
}

span {
  background-color: #000;
  color: #fff;
}

#text {
  background-color: #ccc;
  color: #000;
  border:3px solid #000;
  margin: 0 auto;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
}

.text {
  background-color: #000;
  color:#fff;
  margin: 0 auto;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #ccc;
}

#links {
  margin: 10vh 0;
  padding-left: 20%;
  padding-right: 20%;
}

#links p {
  text-align: center;
  font-family: 'Coda', serif;
  font-size: 1.25em;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color:#fff;
}

/* Menu */
.menu-icon i {
  position: fixed;
  top:0;
  right:0;
  font-size: 1.25em;
  padding: 20px;
}

i {
  background-color: #000;
  color: #fff;
}

nav {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/2T0t-6V/videoblocks-smpte-color-bars-glitch-clean-glitched-transmission-distorted-noisy-signal-of-smpte-color-bars-a-television-screen-test-pattern-clean-version-with-no-text-added_bw0mcwg0l_thumbnail-full06.png);
  background-color: #ccc;
  width: 100vw;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
}

nav ul {
  margin: 0 auto;
  margin-top:20vh;
  font-family: 'Coda', serif;
}

nav ul li {
  margin: 5vh auto;
  list-style-type: none;
  text-align: center;
  font-size: 1.25em;
}

.home {
  background-color: transparent;
  color:#000;
  font-size:1.5em;
}

.websites {
  color:#0000ff;
  text-decoration: underline;
  font-weight: bold;
}

p b {
  color:magenta;
}

.text {
  background-color: #000;
  color:#fff;
  font-family: 'Coda', serif;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
}

.artists {
  margin-bottom: 15vh;
}

.softwar-manifesto {
  font-size:2em; 
  margin-top: 15vh;
}

 .text1, .text2{
  background-color: #fff;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #000;
}

.text1 {
  border-bottom: none;
}

.intersection, .box-title {
  font-size: 1.25em;
  text-align: center;
  background-color: #000;
  color:#fff;
  font-family: 'Coda', serif;
}

.box-title {
  background-color: #ccc;
  color:#000;
}

 .text3{
  background-color: #fff;
  margin: 0 auto;
  padding:25px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #000;
  border-top:none;
  margin-bottom:15vh;
}

.text3 b {
  color:#000;
}

#vid {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -9999;
	}

  #sketch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
    border:none;
  }

@media screen and (min-width: 768px) {
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .one-fifth {
    width: calc(100% / 5);
  }
  .column {
    float: left;
  } 

/* Tablet+ styles */
h1 { margin:40px auto; }

/*.text { width:50%; }*/
#text { width: 60%; }
#links { margin-top: 40px; }
#links p { margin-bottom: 0; }
.artists { margin-top:15vh; }
.softwar-manifesto { font-size:3em; }
/*.text1 { border-bottom: 2px solid #000; }*/
.text2 { border-left:1px; }
.text3 { border-top:2px solid #000;; }